@import "tailwindcss";

@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --pattern-foreground: var(--pattern);
  --color-edge: var(--edge);
  --font-mono: var(--font-mono);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --pattern: oklch(0.556 0 0);
  --edge: color-mix(in oklab, var(--border) 64%, var(--background));
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(89.605% 0.00216 14.598);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --pattern: oklch(0.556 0 0);
  /* --edge: color-mix(in oklab, var(--border) 64%, var(--background)); */
  --edge: oklch(0.27 0.00 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}



.font-ibm{
  font-family: "IBM Plex Mono", "IBM Plex Mono Fallback";
}
